<%- include('partials/header') %>

  <div class="jumbotron text-center">
    <div class="container">
      <i class="fas fa-key fa-6x"></i>
      
      </p>
      <hr>
      
      <br>
      
        <img src="https://lh3.googleusercontent.com/a/ACg8ocI-Am6A5hppVrZq5tYKTkgPdBfZHzVRzwX-brOUy7QSlNfIuA=s96-c" alt="Description of Image">
        <% if (locals.uemail && locals.ufname && locals.ulname) { %>
          <p> 
            email : <%= uemail %>
          <br>
          Name :  <%= ufname + " "%>    <%= ulname %>
          </p>
        <% } %>
        
      <br>
      <a class="btn btn-dark btn-lg" href="/clgn" role="button">Join Through ID</a>
      <br>
      <br>
      <a class="btn btn-dark btn-lg" href="/creg" role="button">Create ID</a>
      <br>
      <br>
      <br>
      <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    </div>
  </div>

  <%- include('partials/footer') %>